<section>
  <h1>
    Automated and continuous web accessibility&nbsp;testing
  </h1>

  <p>
    AccessLint is a GitHub App that finds accessibility issues in your
    pull&nbsp;requests.
  </p>

  <%= link_to(
    "Add to GitHub",
    data.site.marketplace_url,
    class: "c-button"
  ) %>
</section>

<hr>

<section>
  <h2>How it works</h2>

  <p>
  AccessLint brings automated web accessibility testing into your development workflow. When a pull request is opened, AccessLint reviews the changes and comments with any new accessibility issues, giving you quick, timely, and targeted feedback, before code goes live.
  </p>
</section>
